body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.LNK1 {
    font-size: 25px;
    font-family: Tahoma;
    color: crimson;
    background-color: aliceblue;
    border-radius: 4px;
}

.texta1-control {
    column-fill: balance;
    width: 800px;
    background-color: aliceblue;
}

.Black_backgroud {
    background-color: black;
    color: white;
}

.SideL {
    text-align: end;
    border-radius: 4px;
}

.tb2 {
    width: 100%;
}

.progress2 {
    width: 340px;
}
